@using System;
@using Frontendtest.Objects
@using Frontendtest.Pages.Components;

<div class="col-md-7 mx-auto">
    <div class="card bg-white mt-5">
        <div class="card-body">
            <p class="text-muted fst-italic" style="font-size: small">@Message.Group</p>
            <h5 class="card-title h2">@Message.Title</h5>
            <p class="card-text">@Message.Message</p>
        </div>
        <div class="card-footer">
            @if (Message.Date == null)
            {
                <small class="text-muted">Gepubliceerd door @Message.User</small>
            }
            else
            {
                <small class="text-muted">Gepubliceerd door @Message.User op @Message.Date.ToShortDateString() om @Message.Date.ToShortTimeString()</small>
            }
            <AuthorizeView Roles="beheer" >
                <br/>
                <Update formData = "@Message" />
                <Delete formData = "@Message" />
            </AuthorizeView>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public MessageDTO? Message { get; set; }
}
